.note {
    color: grey;
    padding-top: 5px;
    font-size: 15px;
    display: inline
}

.numbers {
    display: inline
}

.error {
    color: red;
    background: rgb(161, 123, 123);
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.success {
    color: rgba(18, 216, 84, 0.687);
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.deleted {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}